.ant-message-notice {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 20px;
  margin-bottom: 16px;
  border: none;
  padding: 8px 16px;
  background: white;
  box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014, 0 9px 28px 8px #0000000d;
  pointer-events: all;
}
